
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Royal Estate - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="~/royalestate-master/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/royalestate-master/css/animate.css">

    <link rel="stylesheet" href="~/royalestate-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/royalestate-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/royalestate-master/css/magnific-popup.css">

    <link rel="stylesheet" href="~/royalestate-master/css/aos.css">

    <link rel="stylesheet" href="~/royalestate-master/css/ionicons.min.css">

    <link rel="stylesheet" href="~/royalestate-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/royalestate-master/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/royalestate-master/css/flaticon.css">
    <link rel="stylesheet" href="~/royalestate-master/css/icomoon.css">
    <link rel="stylesheet" href="~/royalestate-master/css/style.css">
</head>
<body>
    <div class="top">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col">
                    <p class="social d-flex">
                        <a href="#"><span class="icon-facebook"></span></a>
                        <a href="#"><span class="icon-twitter"></span></a>
                        <a href="#"><span class="icon-google"></span></a>
                        <a href="#"><span class="icon-pinterest"></span></a>
                    </p>
                </div>
                <div class="col d-flex justify-content-end">
                    <p class="num"><span class="icon-phone"></span> + 1700 12345 6789</p>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">Royal<span>estate</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                    <li class="nav-item active"><a href="property.html" class="nav-link">Property</a></li>
                    <li class="nav-item"><a href="agents.html" class="nav-link">Agents</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                    <li class="nav-item cta"><a href="contact.html" class="nav-link ml-lg-2"><span class="icon-user"></span> Sign-In</a></li>
                    <li class="nav-item cta cta-colored"><a href="contact.html" class="nav-link"><span class="icon-pencil"></span> Sign-Up</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <div class="hero-wrap" style="background-image: url('images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="blog.html">Blog</a></span> <span>Property Single</span></p>
                    <h1 class="mb-3 bread">Property Single</h1>
                </div>
            </div>
        </div>
    </div>


    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-12 ftco-animate">
                            <div class="single-slider owl-carousel">
                                <div class="item">
                                    <div class="properties-img" style="background-image: url(images/properties-1.jpg);"></div>
                                </div>
                                <div class="item">
                                    <div class="properties-img" style="background-image: url(images/properties-2.jpg);"></div>
                                </div>
                                <div class="item">
                                    <div class="properties-img" style="background-image: url(images/properties-3.jpg);"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 Properties-single mt-4 mb-5 ftco-animate">
                            <h2>Crowne Plaza Columbus</h2>
                            <p class="rate mb-4">
                                <span class="loc"><a href="#"><i class="icon-map"></i> 291 South 21th Street, Suite 721 New York NY 10016</a></span>
                            </p>
                            <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                            <div class="d-md-flex mt-5 mb-5">
                                <ul>
                                    <li><span>Lot Area: </span> 1,250 SQ FT</li>
                                    <li><span>Bed Rooms: </span> 4</li>
                                    <li><span>Bath Rooms: </span> 4</li>
                                    <li><span>2 Garage: </span> 4</li>
                                </ul>
                                <ul class="ml-md-5">
                                    <li><span>Floor Area: </span> 1,300 SQ FT</li>
                                    <li><span>Year Build:: </span> 2018</li>
                                    <li><span>Stories: </span> 1</li>
                                    <li><span>Roofing: </span> New</li>
                                </ul>
                            </div>
                            <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                        </div>
                        <div class="col-md-12 properties-single ftco-animate mb-5 mt-4">
                            <h3 class="mb-4">Take A Tour</h3>
                            <div class="block-16">
                                <figure>
                                    <img src="images/properties-6.jpg" alt="Image placeholder" class="img-fluid">
                                    <a href="https://vimeo.com/45830194" class="play-button popup-vimeo"><span class="icon-play"></span></a>
                                </figure>
                            </div>
                        </div>


                    </div>
                </div> <!-- .col-md-8 -->
                <div class="col-lg-4 sidebar ftco-animate">
                   
                   @await Component.InvokeAsync("Categories")

                    @await Component.InvokeAsync("Tags")

                  
                </div>
            </div>
        </div>
    </section> <!-- .section -->


    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Royal Estate</h2>
                        <p>Aradığınız tüm evler, arsalar burada.</p>

                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Satın Al</h2>
                        <ul class="list-unstyled">
                            <li><a href="/PropertyDetail/PropertyList/" class="py-2 d-block">Satılık Evler</a></li>
                            <li><a href="/PropertyDetail/PropertyList/" class="py-2 d-block">Satılık Arsalar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Sat</h2>
                        <ul class="list-unstyled">
                            <li><a href="/PropertyDetail/PropertyList/" class="py-2 d-block">Evini Sat</a></li>
                            <li><a href="/PropertyDetail/PropertyList/" class="py-2 d-block">Civardaki Fiyatlar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Bize Ulaşın</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Küçükçekmece/İstanbul</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">555 55 55 55 </span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">realestate@real.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır |  <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">GAO</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/royalestate-master/js/jquery.min.js"></script>
    <script src="~/royalestate-master/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/royalestate-master/js/popper.min.js"></script>
    <script src="~/royalestate-master/js/bootstrap.min.js"></script>
    <script src="~/royalestate-master/js/jquery.easing.1.3.js"></script>
    <script src="~/royalestate-master/js/jquery.waypoints.min.js"></script>
    <script src="~/royalestate-master/js/jquery.stellar.min.js"></script>
    <script src="~/royalestate-master/js/owl.carousel.min.js"></script>
    <script src="~/royalestate-master/js/jquery.magnific-popup.min.js"></script>
    <script src="~/royalestate-master/js/aos.js"></script>
    <script src="~/royalestate-master/js/jquery.animateNumber.min.js"></script>
    <script src="~/royalestate-master/js/bootstrap-datepicker.js"></script>
    <script src="~/royalestate-master/js/jquery.timepicker.min.js"></script>
    <script src="~/royalestate-master/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/royalestate-master/js/google-map.js"></script>
    <script src="~/royalestate-master/js/main.js"></script>

</body>
</html>